<div class="container">
    <div class="card-container" style="justify-content: normal;">
        <a class="card" target="_blank" rel="noopener" routerLink="/home">
            <svg class="material-symbols-outlined" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M640-80 240-480l400-400 71 71-329 329 329 329-71 71Z"/></svg>
            <span style="padding: 5px;">Back</span>
        </a>
    </div>
    <div>
        <p class="text-content">Top 10 Orders</p>
        <img style="text-align: center;" src="assets/top-10-orders.jpg"/><br>
    </div>
    <div>
        <p class="text-content">Orders on Days</p>
        <img style="text-align: center;" src="assets/orders-on-days.jpg"/><br>
    </div>
    <div>
        <p class="text-content">Top 10 by number of orders</p>
        <img style="text-align: center;" src="assets/top-10-by-number-of-orders.jpg"/><br>
    </div>
    <div>
        <p class="text-content">Top 10 Cuisines</p>
        <img style="text-align: center;" src="assets/top-10-cuisines.jpg"/><br>
    </div>
    <div>
        <p class="text-content">Delivery Time</p>
        <img style="text-align: center;" src="assets/delivery-time.jpg"/><br>
    </div>
</div>