<div class="container">
    <div class="card-container" style="justify-content: normal;">
        <a class="card" (click)="backToHome();">
            <svg class="material-symbols-outlined" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M640-80 240-480l400-400 71 71-329 329 329 329-71 71Z"/></svg>
            <span style="padding: 5px;">Back</span>
        </a>
    </div>
    <div>
        <p class="text-content">Count of the order</p>
        <img style="text-align: center;" src="assets/image 1.svg"/><br>
    </div>
    <div style="padding:15px 0px;">
        <p class="text-content">Cuisine type</p>
        <img style="text-align: center;" src="assets/image 2.svg"/><br>
    </div>
    <div style="padding:15px 0px;">
        <p class="text-content">Delivery Time</p>
        <img style="text-align: center;" src="assets/image 3.svg"/><br>
    </div>
    <div style="padding:15px 0px;">
        <p class="text-content">Restaurant Rating</p>
        <img style="text-align: center;" src="assets/image 4.svg"/><br>
    </div>
    <div style="padding:15px 0px;">
        <p class="text-content">Food Preparation Time</p>
        <img style="text-align: center;" src="assets/image 5.svg"/><br>
    </div>
    <div style="padding:15px 0px;">
        <p class="text-content">Dashboard</p>
        <img style="text-align: center;" src="assets/image 6.svg"/><br>
    </div>
</div>