<div class="container">
    <div style="padding-top: 15px;">
        <p>Click <a href="https://vizhub.com/umarani14/a176d5e95f3349e99949766cfa24b991?edit=files&file=index.html">here</a>
            to see the source code.
        </p>
    </div>
    <div class="card-container" style="justify-content: normal;">
        <a class="card" (click)="backToHome();">
            <svg class="material-symbols-outlined" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24"><path d="M640-80 240-480l400-400 71 71-329 329 329 329-71 71Z"/></svg>
            <span style="padding: 5px;">Back</span>
        </a>
    </div>
</div>