<div  style="background-image: url('assets/white-dataV-img.jpeg');height: 800px;">
    <div class="container">
        <div style="text-align: center;font-weight: bold; padding: 30px 0px;">
            <p>CSCE 5320 Scientific Data Visualization</p> 
            <p>Group 11</p>
        </div>
        <div style="font-weight: bold; padding: 15px 0px;">
            <p>Umarani Vemula</p>
            <p>Satya Anithesh Terala</p>
            <p>Vamshi Krishna Reddy Bogasamudram</p>
        </div>
        <!-- NYC Restaurants Data - Food Ordering and Delivery -->
        <div class="content">
            <h2>NYC Restaurants Data - Food Ordering and Delivery</h2>
            <p>Here are some links to help you get started:</p>

            <div class="card-container">
                <a class="card" (click)="open('/tableau')">
                <span>Tableau</span>
                <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>    </a>

                <a class="card" (click)="open('/python')">
                <span>Python</span>
                <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
                </a>
                
                <a class="card" (click)="open('/vizhub')">
                <span>Vizhub</span>
                <svg class="material-icons" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/></svg>
                </a>
            </div>
        </div>
    </div>
</div>